main>h1{    
    margin: 0%;
    font-style: italic;
    text-align: center;
    font-size: 200%;
    font-weight: bolder;
    color: white;
    width: 100%;
    border-top-style: solid;
    border-color: blue;
    border-bottom-style: solid;
    background-color: rgb(130, 126, 126);
}

.justificar{
    text-align: justify;
}

.botones{
    text-align: center;
    font-size: 100%;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    border-style: none; 
    border-radius: 10px;
}



