header{
    padding: 15px 0 0 0;
}

footer{
    padding: 15px 0 0 0;
}

#figuraBarras{
    margin-right: 20px;
}

body{
    margin: 0;
    padding: 0;
    background-color: rgb(130, 126, 126);
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;   
    height: auto;

    margin-top: 0;
    width: 100%;
    height: auto;
    min-height: 90vh;   
    
    background-image: linear-gradient(to right, rgb(0 0 0 / .5), rgb(0 0 0 / .5)),url("../0_IMG/fondo.gif");
    background-size: cover;
    background-position: center center;
}
.card-header{
    background-color:  rgb(76, 73, 73);
    border-color: yellow;
}

.card-body{
    background-color:  rgb(130, 126, 126);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.card-title{
    color:yellow
}

.card{
    border-color: yellow;
    border-width: 2px;
    width: 100%;
}

.list-unstyled>li{
    color:yellow
}

h4{
    color: aliceblue;
}

.btn{
    border-color:aliceblue
}
.btn-outline-primary{
    color:aliceblue
}

.btn:hover{
    background-color: yellow;
    border-color: aliceblue;
}

.btn:hover.btn-outline-primary{
    color:black;
}

.row{
    margin-bottom: auto;
}

.table{
    border-style: solid;
    border-color: aliceblue;
    width: 60vw;
}

th{
    color:aliceblue;
}

td{
    color: yellow;
}

.table-group-divider{
    border-style: solid;
    border-color: yellow;
}

#Avance{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 20vh;
    margin-bottom: 100px;
    width: 50vw;
}

#circulo {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background: yellow;
    border-radius: 50%;
    width: 15px;
    height: 15px;
}

#c2{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background: yellow;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    padding: 7px;
    border-style: solid;
    border-width: 8px;
    border-color: blue;
}

#c2>p{
    margin-top:18px;
}

#texto{
    width: fit-content;
    margin-top: 25px;
    font-size: 150%;
    
}

#linea{
    background: yellow;
    width: 100px;
    height: 1px;
}

div{
    color:aliceblue;
}

.botones{
    margin-bottom: 250px;
    padding: 10px;
    border-radius: 10px;
    
    text-align: center;
    font-size: 100%;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    text-decoration: none;

    border-style: none;
    background-color:rgba(246, 255, 0, 1);  
}

.botones:hover{
    border-color: rgb(231, 224, 6);
    background-color: rgb(228, 220, 0);
    border-radius: 10px;
    cursor: pointer;
}

@media (max-width: 800px) {
    #c2>p{
        font-size: 3vw;  
    }
    #circulo>p{
        font-size: 3vw;
    }
}
