body{
    margin: 0;
    padding: 0;
    background-color: rgb(130, 126, 126);
}

main>.divCentrar{
    margin: 5vh;

}

#datos{
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    background-color:  rgba(63, 62, 62, 0.9);
    margin-top: 10vh;
    border-radius: 10px;
    color: white;
}

.caja{
    background-color: transparent;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    width: 15vw;
    height: 4vh;
    border-radius: 5px;
    color: white;
    
    font-size: 1.5vw;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

#datosPersonales{
    display: flex;
    flex-direction: column;
    width: 100%;

    
    border-bottom: solid;
    border-bottom-color: yellow;
}

#datosPersonales>.lin{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#datosDireccion{
    border-bottom: solid;
    border-bottom-color: yellow;

    display: flex;
    flex-direction: column;
    gap: 10px;
}


#datosDireccion{
    border-bottom: solid;
    border-bottom-color: yellow;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

#datosDireccion>.seleccion{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#datosDireccion>.seleccion>.caja{
    width: 20vw;
}

#datosDireccion>#direccion{
    align-self: center;
    width: 55vw;
}


#datosPago{
    width: 100%;
    display: flex;
    flex-direction: column;

    border-bottom: solid;
    border-bottom-color: yellow;
}

#datosPago>.lin{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}
