header{
    padding: 15px 0 0 0;
}

footer{
    padding: 15px 0 0 0;
}

#figuraBarras{
    margin-right: 20px;
}

body{
    margin: 0;
    padding: 0;
    background-color: rgb(130, 126, 126);
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;   
    height: auto;

    margin-top: 0;
    width: 100%;
    height: auto;
    min-height: 90vh;   
    
    background-image: linear-gradient(to right, rgb(0 0 0 / .5), rgb(0 0 0 / .5)),url("../0_IMG/fondo.gif");
    background-size: cover;
    background-position: center center;
}

.card-header{
    background-color:  rgb(76, 73, 73);
    border-color: yellow;
}

.card-body{
    background-color:  rgb(130, 126, 126);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.card-title{
    color:yellow
}

.card{
    border-color: yellow;
    border-width: 2px;
    width: 100%;
}

.list-unstyled>li{
    color:yellow
}

h4{
    color: white;
}


.btn{
    border-color:aliceblue
}
.btn-outline-primary{
    color:aliceblue
}

.btn:hover{
    background-color: yellow;
    border-color: aliceblue;
}

.btn:hover.btn-outline-primary{
    color:black;
}


.row{
    margin: 3vh;
    margin-bottom: auto;
}

.table{
    border-style: solid;
    border-color: white;
    width: 60vw;
}

th{
    color:white;
}

.th{
    text-align: center;
}

td{
    color: yellow;
    text-align: center;
}

tr:hover{
    background-color: rgba(225, 241, 107, 0.996);
}
tr:hover>th{
    color:black;
}

.table-group-divider{
    border-style: solid;
    border-color: yellow;
}