@import "../1_CSS/footer.css";

*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    margin:0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    width: 100%;
    gap:5%;
    background-color: yellow;
}

#logo{
    width: 100%;
    height: 100%;
    border-style: none;
}

#figuraLogo{
    width: 80px;
    height: 90px;
    margin-left: 1%;
}

#barras{
    width: 100%;
    height: 100%;
    margin-left: auto;
}

#figuraBarras{
    display: none;
    width: 30px;
    height: 30px;
    align-self: center;
    margin-left: auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding:0;
    width: 70%;
  }
  
nav ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    background-color: yellow;
    width: 100%;
    padding: 0;
}

nav > ul{
    flex-wrap: wrap;
}
  
nav ul li {
    position: relative;
}
  
nav li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: blue;
    font-weight: bold;
    font-size: 100%;
}

nav ul li:hover{
    background-color: rgb(228, 220, 0);
}
  
nav ul li:hover>ul{
    display: block;
}
  
  li ul {
    display: none;
    position: absolute;
    background-color: yellow;
    justify-content: center;
    z-index: 1;
  }
  
  li ul li {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
li ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
}

.first{
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.last{
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

 @media (max-width: 800px) {
    nav{
        display: none;
        position: absolute;
        justify-content: center;
        padding: 2% 0%;
        right: 0%;
        background-color: rgb(130, 126, 126);
        border-bottom: solid;
        border-right: solid;
        border-left: solid;
        border-color: yellow;
        width: 50vw;
        height: 50vh;
        top: 121.5px;
        z-index: 10;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    nav>ul{
        background-color: transparent;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }
    nav>ul>li{
        padding: 0;
    }

    .left{
        border-bottom-right-radius: 5px;
        border-top-left-radius: 0px;
    }

    #figuraBarras{
        display: inline;
    }
    #figuraLogo{
        width: 80px;
    }

    li ul{
        border-top-left-radius: 5px; 
    }
    
    li:hover>a{
        color:black;
    }

    .l2{
        border-top-left-radius: 5px; 
    }

    nav li ul{
        display: none;
        flex-wrap: nowrap;
        padding: 0;
        top:0;
        right: 100%;
        background-color: rgb(130, 126, 126);
    }

    nav ul li a{
        color: white
    }
}
