main>.divCentrar{
    margin: 5vh;
}

body{
    margin: 0;
    padding: 0;
    background-color: rgb(130, 126, 126);
}

#formularioRegistro{
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    background-color:  rgba(63, 62, 62, 0.9);
    margin-top: 10vh;
    border-radius: 10px;
}

.caja{
    background-color: transparent;
    border-color: white;
    width: 12vw;
    height: 4vh;
    border-radius: 5px;
    color: white;
}

#datosPersonales{
    display: flex;
    flex-direction: column;

    padding: 1%;
    border-bottom: solid;
    border-bottom-color: yellow;
}

#datosPersonales>.lin{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}

#datosDireccion{
    padding: 1%;
    border-bottom: solid;
    border-bottom-color: yellow;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

#datosDireccion>.seleccion{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#datosDireccion>.seleccion>.caja{
    width: 22vw;
}

select option{
    background-color: grey;
}

#datosDireccion>input{
    color:aliceblue;
    align-self: center;
    width: 40vw;
}

#condiciones{
    padding: 1%;
    border-bottom: solid;
    border-bottom-color: yellow;

    display: flex;
    flex-direction: column;
}
#condiciones>.lin{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 5vw;


}
#condiciones>.lin>.checkBoxes{
    width: auto;
}

#tipoPago{
    padding: 1%;
    border-bottom: solid;
    border-bottom-color: yellow;

    display: flex;
    flex-direction: column;
}
#tipoPago>.lin{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 5vw;


}
#tipoPago>.lin>.checkBoxes{
    width: auto;
}

#datosPago{
    display: flex;
    flex-direction: column;

    padding: 1%;
    border-bottom: solid;
    border-bottom-color: yellow;
}

#datosPago>.lin{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}



#botones{
    margin: 1vh;
    justify-content: space-evenly;
    height: fit-content;
    display: flex;
}

.botones{
    padding: 10px;
    border-radius: 10px;
    
    text-align: center;
    font-size: 100%;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    text-decoration: none;

    border-style: none;
    background-color:rgba(246, 255, 0, 1);  
}

.botones:hover{
    border-color: rgb(231, 224, 6);
    background-color: rgb(228, 220, 0);
    border-radius: 10px;
    cursor: pointer;
}


.aviso{
    visibility: hidden;
    color:red;
    font-size: 60%;
}

#obligatorios{
    width: 100%;
    font-size: 90%;
    text-align: center;
    color: yellow;
}

#errores{
    display: flex;
    justify-content: space-between;
    width: 100%;
}



@media(max-width: 1000px){
    .caja{
        width: 20vw;
    }
}